@{
    ViewData["Title"] = "Home Page";
}

<h1>Mockups</h1>

<div class="list-group">
    <a asp-controller="Quiz" asp-action="Game" class="list-group-item list-group-item-action">
        Quiz
    </a>
    <a asp-controller="Quiz" asp-action="Result" class="list-group-item list-group-item-action">
        QuizResult
    </a>
</div>
